*
{
    margin: 0;
    padding: 0;
}
header {
    background-color: red;
    height: 300px;
}
aside#left {
    background-color: blue;
}
main {
    background-color: yellow;
}
aside#right {
    background-color: gray;
}
footer {
    background-color: green;
}